<% if defined?(dashboard) %>
  <%= render 'deadlines/header', project: project, deadline: deadlines.try(:first), dashboard: dashboard %>
<% else %>
  <%= render 'deadlines/header', project: project, deadline: deadlines.try(:first) %>
<% end %>

<div class="milestones-wrapper">
  <ul class="milestones">
    <% deadlines.each do |deadline| %>
      <li class="milestone">
        <% if defined?(dashboard) && dashboard.show_tasks == false %>
          <% deadline_path = "" %>
        <% elsif defined?(dashboard) && dashboard.show_tasks == true %>
          <% deadline_path = show_dashboard_deadline_path(link_slug: dashboard.link_slug, id: deadline.number) %>
        <% else %>
          <% deadline_path = deadline_path(project_id: project.full_name, id: deadline.number) %>
        <% end %>
        <%= link_to deadline_path do %>
          <h3 class="milestone-name"><%= deadline.name %></h3>
          <ul class="milestone-countdown js-countdown-big" data-epoch-seconds="<%= deadline.due_on.to_i %>">
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-days">00</div>
              <div class="milestone-label">days</div>
            </li>
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-hours">00</div>
              <div class="milestone-label">hours</div>
            </li>
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-minutes">01</div>
              <div class="milestone-label">mins</div>
            </li>
          </ul>
          <div class="milestone-progress"><%= deadline.completion_percentage.round %>%</div>
          <div class="milestone-issues">
            <strong><%= deadline.open_issues %></strong> open,
            <strong><%= deadline.closed_issues %></strong> closed
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
