<div class="milestones-header">
  <div class="milestones-project">
    <img class="milestones-avatar" src="<%= project.owner.avatar_url %>" alt="<%= project.owner.name %>">
    <span class="milestones-project-name"><%= project.full_name %></span>
  </div>

  <% if show_projects %>
    <%= link_to "View projects", projects_path, class: "milestones-view-projects" %>
  <% end %>
</div>

<% if deadline %>
  <%= render 'deadlines/featured', deadline: deadline %>
<% end %>
