<div class="issues-header">
  <div class="issues-project">
    <img class="issues-avatar" src="<%= page.project.owner.avatar_url %>" alt="<%= page.project.owner.name %>">
    <span class="issues-project-name"><%= page.project.full_name %></span>
  </div>

  <% if page.internal?  %>
    <%= link_to "View projects", projects_path, class: "issues-view-projects" %>
  <% else %>
    <%= link_to "Sign in", user_omniauth_authorize_path(:github), class: 'demo-sign-in' %>
  <% end %>
</div>
