<%= render 'deadlines/header', { page: page } %>

<% deadline = page.deadline %>

<div class="issues-milestone-wrapper">
  <div class="issues-milestone">
    <h2 class="issues-milestone-name"><%= deadline.title %></h2>
    <ul class="issues-milestone-countdown js-countdown-big" data-epoch-seconds="<%= page.deadline.due_on.to_i %>">
      <li class="issues-milestone-interval">
        <div class="issues-milestone-number js-countdown-days">00</div>
        <div class="issues-milestone-label">days</div>
      </li>
      <li class="issues-milestone-interval">
        <div class="issues-milestone-number js-countdown-hours">00</div>
        <div class="issues-milestone-label">hours</div>
      </li>
      <li class="issues-milestone-interval">
        <div class="issues-milestone-number js-countdown-minutes">00</div>
        <div class="issues-milestone-label">minutes</div>
      </li>
    </ul>
    <div class="milestones-overview">
      <%= page.link_to_project(self, page.project) do %>
        <span>Milestones overview</span>
      <% end %>
    </div>
  </div>
</div>

<div class="issues-wrapper">
  <div class="issues-stats">
    <div>
      <h3 class="issues-title">Issues</h3>
      <p class="issues-stats-summary">
      <strong><%= deadline.open_issues %></strong> open,
      <strong><%= deadline.closed_issues %></strong> closed
      </p>
    </div>
    <p class="issues-stats-progress"><%= deadline.completion_percentage.round %>%</p>
  </div>
  <ul class="issues">
    <% page.tasks.each do |task| %>
    <li class="issue">
      <a class="issue-name" href="<%= task.html_url %>" target="_blank">
        <%= task.name %>
        <% task.labels.each do |lbl| %>
          <span class="issue-label"><%= lbl.name %></span>
        <% end %>
      </a>
      <p class="issue-details">#<%= task.number %> opened <%= ago_or_from_now(task.created_at) %> by <%= task.user.login %></p>
    </li>
    <% end %>
  </ul>
</div>
