<h2>Deadline: <%= deadline.name %></h2>

<h4>Open tasks</h4>
<% open_tasks.each do |task| %>
  <h5><%= task.title %></h5>
  <p>State: <%= task.state %></p>
  <%= simple_format task.body %>
<% end %>

<hr>

<h4>Closed tasks</h4>
<% closed_tasks.each do |task| %>
  <h5><%= task.title %></h5>
  <p>State: <%= task.state %></p>
  <%= simple_format task.body %>
<% end %>
