<div class="projects-header">
  <img class="projects-avatar" src="<%= github_user.avatar_url %>" alt="<%= github_user.name %>">
  <p class="projects-instructions">
  Select a project to visualize its milestones
  </p>
</div>
<ul class="projects">
  <% projects.each do |project| %>
    <li class="project">
      <div class="project-details">
        <div class="project-name">
          <%= link_to project.full_name, project.to_path %>
        </div>
        <div class="project-description">
          <%= project.description %>
        </div>
      </div>
      <a class="project-share" href="#"></a>
    </li>
  <% end %>
</ul>

<%= paginate projects %>
