<div class="projects-header">
  <%= user_avatar(github_user) %>
  <p class="projects-instructions">
  Select a project to visualize its milestones
  </p>
</div>
<ul class="projects">
  <% projects.each do |project| %>
    <li class="project">
      <div class="project-details">
        <div class="project-name">
          <%= link_to project.full_name, project.to_path %>
        </div>
        <div class="project-description">
          <%= project.description %>
        </div>
      </div>
      <%= link_to "", edit_dashboard_path(project_uid: project.full_name), class: 'project-share' %>
    </li>
  <% end %>
</ul>

<%= paginate projects %>
