<div class="projects-header">
  <img class="projects-avatar" src="<%= github_user.avatar_url %>" alt="<%= github_user.name %>">
  <p class="projects-instructions">
  Select a project to visualize its milestones
  </p>
</div>
<ul class="projects">
  <% projects.each do |project| %>
    <li class="project">
      <div class="project-details">
        <div class="project-name">
          <%= link_to project.full_name, project.to_path %>
        </div>
        <div class="project-description">
          <%= project.description %>
        </div>
      </div>
      <% if project.dashboard  %>
        <a data-clipboard-text='<%= show_dashboard_url(link_slug: project.dashboard.link_slug)%>' id='d_clip_button' title='Click me to copy to clipboard.' class="project-share" />
        <%= link_to "Edit", edit_dashboard_path(project_identifier: project.full_name), class: 'project-edit' %>
        <%= link_to "Destroy", dashboard_path(project.dashboard), method: :delete, class: 'project-destroy' %>
      <% else %>
        <%= link_to "Start sharing", new_dashboard_path(project_identifier: project.full_name), class: 'project-new' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate projects %>
