<div class="milestones-header">
  <div class="milestones-project">
    <img class="milestones-avatar" src="<%= page.project.owner.avatar_url %>" alt="<%= page.project.owner.name %>">
    <span class="milestones-project-name"><%= page.project.full_name %></span>
  </div>

  <% if page.internal? %>
    <%= link_to "View projects", projects_path, class: "milestones-view-projects" %>
  <% end %>
</div>

<% if page.featured_deadline %>
  <%= render 'deadlines/featured',
    path_for_deadline: page.path_for_deadline(self, page.featured_deadline),
    deadline: page.featured_deadline %>
<% end %>

<div class="milestones-wrapper">
  <ul class="milestones">
    <% page.deadlines.each do |deadline| %>
      <li class="milestone">
        <%= page.link_to_deadline(self, deadline) do %>
          <h3 class="milestone-name"><%= deadline.name %></h3>
          <% if deadline.completed? %>
            <div class="milestone-message-completed">Completed</div>
          <% else %>
            <ul class="milestone-countdown js-countdown-big" data-epoch-seconds="<%= deadline.due_on.to_i %>">
              <li class="milestone-interval">
                <div class="milestone-number js-countdown-days">00</div>
                <div class="milestone-label">days</div>
              </li>
              <li class="milestone-interval">
                <div class="milestone-number js-countdown-hours">00</div>
                <div class="milestone-label">hours</div>
              </li>
              <li class="milestone-interval">
                <div class="milestone-number js-countdown-minutes">01</div>
                <div class="milestone-label">mins</div>
              </li>
            </ul>
          <% end %>
          <div class="milestone-progress"><%= deadline.completion_percentage.round %>%</div>
          <div class="milestone-issues">
            <strong><%= deadline.open_issues %></strong> open,
            <strong><%= deadline.closed_issues %></strong> closed
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
