<%= render 'deadlines/header', {
  show_projects: page.internal?,
  project: page.project,
  deadline: page.deadlines.first
} %>

<div class="milestones-wrapper">
  <ul class="milestones">
    <% page.deadlines.each do |deadline| %>
      <li class="milestone">
        <%= link_to deadline_path(
          project_id: page.project.full_name,
          id: deadline.number
        ) do %>
          <h3 class="milestone-name"><%= deadline.name %></h3>
          <ul class="milestone-countdown js-countdown-big" data-epoch-seconds="<%= deadline.due_on.to_i %>">
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-days">00</div>
              <div class="milestone-label">days</div>
            </li>
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-hours">00</div>
              <div class="milestone-label">hours</div>
            </li>
            <li class="milestone-interval">
              <div class="milestone-number js-countdown-minutes">01</div>
              <div class="milestone-label">mins</div>
            </li>
          </ul>
          <div class="milestone-progress"><%= deadline.completion_percentage.round %>%</div>
          <div class="milestone-issues">
            <strong><%= deadline.open_issues %></strong> open,
            <strong><%= deadline.closed_issues %></strong> closed
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
