<%= simple_form_for dashboard, html: {id: 'general-form'} do |f| %>
  <%= f.input :project_uid, disabled: true %>
  <%= f.input :show_tasks %>
  <%= f.input :published %>
  <%= f.input :slug, label: "#{root_url}x/" %>

  <p class="text-right">
    <%= link_to "Cancel", projects_path, class: "btn default" %>
    <%= f.submit class: 'btn primary' %>
  </p>
<% end %>
