<%= simple_form_for dashboard, html: {id: 'password-form'} do |f| %>
  <%= f.hidden_field :project_uid, disabled: true %>
  <%= f.input :password %>

  <p class="text-right">
    <% if dashboard.password_enabled? %>
      <span>Currently a password is set.</span>
    <% else %>
      <span>Currently no password is set.</span>
    <% end %>
    <%= link_to "Cancel", projects_path, class: "btn default" %>
    <%= f.submit class: 'btn primary' %>
  </p>
<% end %>
