<%= simple_form_for dashboard, html: {id: 'password-form'} do |f| %>
  <%= f.hidden_field :project_uid, disabled: true %>
  <%= f.input :password %>

  <p class="info">
    <% if dashboard.password_enabled? %>
      <span>Password protection is <strong>enabled</strong>. Save an empty password to disable.</span>
    <% else %>
      <span>Password protection is <strong>disabled</strong>. Save a password to enable.</span>
    <% end %>
  </p>

  <p>
    <%= link_to "Cancel", projects_path, class: "btn default" %>
    <%= f.submit class: 'btn primary' %>
  </p>
<% end %>
