<div class="projects-header">
  <img class="projects-avatar" src="<%= github_user.avatar_url %>" alt="<%= github_user.name %>">
  <p class="projects-instructions">
  Configure a public dashboard
  </p>
</div>


<div class="dashboard-form">
  <h3>Options</h3>
  <%= render 'form', dashboard: dashboard %>
  <h3>Sharing link</h3>
  <% if dashboard.valid? %>
    <div class="copy-url">
      <input type="text" value="<%= show_dashboard_url(dashboard.link_slug) %>" />
      <a data-clipboard-text="<%= show_dashboard_url(dashboard.link_slug) %>"
         class="btn default js-copy-button">
        Copy
      </a>
    </div>
  <% else %>
    <p>Save the dashboard first.</p>
  <% end %>
<div>

