<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <div class="container">
    <h1><%= link_to 'Deadliner', root_path %></h1>
    <p>
    <% if current_user %>
      <%= link_to "Projects", projects_path %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign in with Github",
        user_omniauth_authorize_path(:github) %>
    <% end %>
    </p>

    <%= render 'layouts/flashes' %>
    <%= yield %>
  </div>
</body>
</html>
