<!DOCTYPE html>
<html>
<head>
  <title>Deadliner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Deadliner', root_path %></h1>
  <p>
  <% if current_user %>
    Logged in as <%= current_user.email %>.
  <% else %>
    <%= link_to "Sign in with Github",
      user_omniauth_authorize_path(:github) %>
  <% end %>
  </p>

  <p>
  <%= notice %>
  <strong style='color: red'><%= alert %></strong>
  </p>

  <pre>
  ENV: <%= Rails.env %>
  </pre>
  <%= yield %>
</body>
</html>
